PORT=10000
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/bgarage
JWT_SECRET=cambia_esto_por_un_secreto_largo
ADMIN_EMAIL=admin@bgarage.cl
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
